<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('libs/css/bootstrap-3.3.7.min.css') }}">
            <link href="{{ asset('css/styles.css') }}" rel="stylesheet">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}

        {% block javascripts %}
            <script src="{{ asset('libs/js/jquery-3.2.1.min.js') }}"></script>
            <script src="{{ asset('libs/js/bootstrap-v3.3.7.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
