body {
    background: #F5F5F5;
    font: 18px/1.5 sans-serif;
}

h1, h2 {
    line-height: 1.2;
    margin: 0 0 .5em;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 21px;
    margin-bottom: 1em;
}

/*p { margin: 0 0 1em 0; }*/
a {
    color: #0000F0;
}

a:hover {
    text-decoration: none;
}

code {
    background: #F5F5F5;
    max-width: 100px;
    padding: 2px 6px;
    word-wrap: break-word;
}

#wrapper {
    margin: 1em auto;
    max-width: 800px;
    width: 95%;
}

#postsContainer {
    padding: 2em;
}

.post {
    background: #FFF;
    margin: 15px;
    padding: 25px 15px;
}

#welcome h1 span {
    display: block;
    font-size: 75%;
}

@media (min-width: 768px) {
    #wrapper {
        width: 80%;
        margin: 2em auto;
    }

    #status a, #next a {
        display: block;
    }

    @-webkit-keyframes fade-in {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    @keyframes fade-in {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
}

.rightPulled {
    float: right;
    clear: right;
}

.likeContainer {
    min-height: 1em;
}

.smallGrey {
    font-size: small;
    color: Grey;
}

h2 {
    text-decoration: underline;
}

.entityContent {
    background: #c5c5c5;
    margin: 15px;
    padding: 25px 15px;
}

form.horizontal input,
form.horizontal textarea {
    width: 100%;
    margin-bottom: 20px;
}

a {
    cursor: pointer;
}