<button id="create-post">Create new post</button>

<div id="dialog-form" title="Create new post" hidden>
    <p class="validateTips">All form fields are required.</p>

    <form class="horizontal">
        <fieldset>
            <label for="postAuthor">Author Name</label>
            <input type="text" name="postAuthor" id="postAuthor" class="text ui-widget-content ui-corner-all">
            <label for="postTitle">Title</label>
            <input type="text" name="postTitle" id="postTitle" class="text ui-widget-content ui-corner-all">
            <label for="postBrief">Brief</label>
            <textarea rows="4" name="postBrief" id="postBrief" class="text ui-widget-content ui-corner-all"></textarea>
            <label for="postContent">Content</label>
            <input type="text" name="postContent" id="postContent" class="text ui-widget-content ui-corner-all">
            <textarea class="form-control" style="display: none;" id="postContent"></textarea>

            <!-- Allow form submission with keyboard without duplicating the dialog button -->
            <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
        </fieldset>
    </form>
</div>

<script src="{{ asset('libs/tinymce/tinymce.min.js') }} " type="text/javascript"></script>
<script>
    tinymce.init({
        selector: '#postContent'
    });
</script>