{% macro renderPostItems(entities) %}
    {% import _self as feedHelper %}

    {% if entities %}
        {{ feedHelper.renderItems(entities) }}
    {% else %}
        <p>No published posts yet. You may create first one using button above.</p>
    {% endif %}
{% endmacro %}

{% macro renderItems(entities) %}
    {% for entity in entities %}
        <div id="entityRow_{{ entity.id }}" class="post">
            <span class="rightPulled smallGrey">published: {{ entity.date | date('Y-m-d H:i') }}</span>
            <span class="rightPulled smallGrey">by: {{ entity.author }}</span>
            <h2>
                <a id="entityTitle_{{ entity.id }}" class="contentToggler" data-entity-id="{{ entity.id }}">{{ entity.title }}</a>
            </h2>
            <p>{{ entity.brief }}</p>
            <div id="entityСontent_{{ entity.id }}" hidden="hidden" class="entityContent">{{ entity.content | raw }}</div>
            <div class="likeContainer">
                <div class="rightPulled">
                    {% if entity.isLiked %}
                        {% set likeButtonStyle = 'none' %}
                        {% set dislikeButtonStyle = 'block' %}
                    {% else %}
                        {% set likeButtonStyle = 'block' %}
                        {% set dislikeButtonStyle = 'none' %}
                    {% endif %}
                    <button type="button" id="likeButton_{{ entity.id }}" data-entity-id="{{ entity.id }}" class="likeButton btn btn-default btn-sm"
                            style="display: {{ likeButtonStyle }}">
                        <span class="glyphicon glyphicon-thumbs-up"></span> Like
                    </button>
                    <button type="button" id="dislikeButton_{{ entity.id }}" data-entity-id="{{ entity.id }}" class="dislikeButton btn btn-default btn-sm"
                            style="display: {{ dislikeButtonStyle }}">
                        <span class="glyphicon glyphicon-thumbs-down"></span> Dislike
                    </button>
                </div>
            </div>
        </div>
    {% endfor %}
{% endmacro %}