$(function () {
    var dialog, form,
        postAuthor = $("#postAuthor"),
        postTitle = $("#postTitle"),
        postBrief = $("#postBrief"),
        postContent = $("#postContent"),
        allFields = $([]).add(postAuthor).add(postTitle).add(postBrief).add(postContent),
        tips = $(".validateTips"),
        editorName = 'postContent';

    dialog = $("#dialog-form").dialog({
        autoOpen: false,
        height: 850,
        width: 600,
        modal: true,
        buttons: {
            "Create post": addPost,
            Cancel: function () {
                dialog.dialog("close");
            }
        },
        close: function () {
            form[0].reset();
            allFields.removeClass("ui-state-error");
        }
    });

    form = dialog.find("form").on("submit", function (event) {
        event.preventDefault();
        addPost();
    });

    $("#create-post").button().on("click", function () {
        dialog.dialog("open");
    });

    function updateTips(t) {
        tips
            .text(t)
            .addClass("ui-state-highlight");
        setTimeout(function () {
            tips.removeClass("ui-state-highlight", 1500);
        }, 500);
    }

    function checkLength(o, n, min, max) {
        if (o.val().length > max || o.val().length < min) {
            o.addClass("ui-state-error");
            updateTips("Length of " + n + " must be between " +
                min + " and " + max + ".");
            return false;
        } else {
            return true;
        }
    }

    function checkRegexp(o, regexp, n) {
        if (!( regexp.test(o.val()) )) {
            o.addClass("ui-state-error");
            updateTips(n);
            return false;
        } else {
            return true;
        }
    }

    function checkContent() {
        var templateContent = tinymce.get(editorName).getContent();

        if (!templateContent) {
            updateTips("Content cannot be empty");
            return false;
        } else {
            return true;
        }
    }

    function addPost() {
        var valid = true;
        allFields.removeClass("ui-state-error");

        valid = valid && checkLength(postAuthor, "Author", 2, 50);
        valid = valid && checkLength(postTitle, "Title", 2, 100);
        valid = valid && checkLength(postBrief, "Brief", 2, 1000);
        valid = valid && checkContent();

        valid = valid && checkRegexp(postAuthor, /^[a-z]([0-9a-z_\s])+$/i, "Username may consist of a-z, 0-9, underscores, spaces and must begin with a letter.");

        if (valid) {
            sendPostToServer(postAuthor.val(), postTitle.val(), postBrief.val(), tinymce.get(editorName).getContent());
            dialog.dialog("close");
        }
        return valid;
    }

    function sendPostToServer(postAuthor, postTitle, postBrief, postContent) {
        console.log('new post!');

        var data = {'postAuthor': postAuthor, 'postTitle': postTitle, 'postBrief': postBrief, 'postContent': postContent};
        var route = "{{ absolute_url(path('add_post') ) }}";
        $.ajax({
            url: route,
            data: data,
            type: "POST",
            success: function (json) {
                bootstrapAlert.success('Your post successfully sent to server. Please wait a bit and it will appear on this page.');
            },
            error: function (json) {
                bootstrapAlert.danger('Something went wrong during post saving at server. Try again please.');
                console.log(json);
                throw "Post creation error at server side";
            },
        });
    }
});