{% import '@App/Feed/_feedHelper.html.twig' as feedHelper %}
<result>
    <htmlDom><![CDATA[{{ feedHelper.renderItems(entities) }}]]></htmlDom>
    <lastReceivedPostId>{{ lastReceivedPostId }}</lastReceivedPostId>
</result>