{% extends 'base.html.twig' %}
{% import '@App/Feed/_feedHelper.html.twig' as feedHelper %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('libs/css/jquery-ui-1.12.1.css') }}">
{% endblock %}


{% block body %}
    <div id="wrapper">
        <p>This page requests server for new posts every <span id="checkInterval"></span> seconds</p>
        <div id="alert_placeholder"></div>
        {% include 'AppBundle::UserControls/createNewPostModal.html.twig' %}

        <div id="postsContainer">
            {{ feedHelper.renderPostItems(entities) }}
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src={{ asset('libs/js/jquery-ui-1.12.1.min.js') }}></script>
    <script src="{{ asset('js/dataRefresher.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/bootstrapAlert.js') }}" type="text/javascript"></script>
    <script src="{{ absolute_url(path('create-new-post-js') ) }}" type="text/javascript"></script>

    <script>
        var lastReceivedPostId = {{ lastReceivedPostId }};

        $(function () {
            var newPostsCheckInterval = 5; // measured in seconds
           $('#checkInterval').html(newPostsCheckInterval);

            setupClickHandlers();

            DataRefresher.SetAutorefresh('#postsContainer', newPostsCheckInterval * 1000, '{{ absolute_url(path('get_new_posts') ) }}', setupClickHandlers);

            function setupClickHandlers() {
                $(".likeButton").off().on("click", function () {
                    registerLike($(this).attr('data-entity-id'));
                });
                $(".dislikeButton").off().on("click", function () {
                    registerDislike($(this).attr('data-entity-id'));
                });

                $(".contentToggler").off().on("click", function () {
                    var entityId = $(this).attr('data-entity-id');
                    $("#entityСontent_" + entityId).toggle('blind');
                });
            }

            function registerLike(entityId) {
                changeEntityState(entityId, 'likeButton_' + entityId, 'dislikeButton_' + entityId, "{{ absolute_url(path('register_like') ) }}")
            }

            function registerDislike(entityId) {
                changeEntityState(entityId, 'dislikeButton_' + entityId, 'likeButton_' + entityId, "{{ absolute_url(path('register_dislike') ) }}")
            }

            function changeEntityState(entityId, senderButtonId, oppositeButtonId, route) {
                var sender = $('#' + senderButtonId);
                var oppositeButton = $('#' + oppositeButtonId);
                sender.prop('disabled', true);

                var data = {'entityId': entityId};
                $.ajax({
                    url: route,
                    data: data,
                    type: "POST",
                    success: function (json) {
                        sender.prop('disabled', false);
                        sender.hide();
                        oppositeButton.show();
                    },
                    error: function (json) {
                        sender.prop('disabled', false);
                        console.log(json);
                        throw "Entity status update error";
                    },
                });
            }
        });
    </script>
{% endblock %}